<script>
  $(".toggle-label").click(function(){
    $(".toggle-label").removeClass("btn-primary");
    $(".toggle-label").removeClass("btn-success");
    $(".toggle-label").addClass("btn-primary");
    $(this).addClass("btn-success");
  })
</script>
</body>
</html>
